<!doctype html>
<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" href="{{asset('bundles/renaissanceweb/css/ErrorPage.css')}}">
<title>出错啦</title>

</head>
<body bgcolor="#FFFFFF">
      <div class="wrap">
             <div class="logo">
                  <img src="{{asset('bundles/renaissanceweb/img/default/renaissanceLearningLogo.png')}}">
            </div>
            <div class="mainPic">
                  <img src="{{asset('bundles/renaissanceweb/img/default/emptyError.png')}}">
            </div>
            <div class="errorDisplay">
                  <p>{{error_msg}}</p>
            </div>
            <div class="notFound">
                  <p>页面无法显示</p>
            </div>
            <div class="content">
                  <p>请尝试 <a href="#">刷新</a>/<a href="#">返回上一页</a>/<a href="#">回到主页</a></p>
            </div>
      </div>
</body>
</html>
