/*Base*/
html{
	height: 100%;
	font-size: 10px;
}

body{
	min-height: 100%;
	font-size: 14px;
	background-color:#edeff0;
	min-width: 992px;
	overflow-x:scroll;
	background:url(img/bg.png);
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #6c757a;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #6c757a;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #6c757a;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #6c757a;
}

a{
	color: inherit;
}
a:hover{
	cursor: pointer;
	text-decoration: none;
}



.button{
	font-family: inherit;
	-webkit-transition-property: background;
	  -moz-transition-property: background;
	  -o-transition-property: background;
	  transition-property: background;
	  -webkit-transition-duration: 0.3s;
	  -moz-transition-duration: 0.3s;
	  -o-transition-duration: 0.3s;
	  transition-duration: 0.3s;
}

/*Widget*/
.hide{
	display: none;
}

.bandid{
	border: 1px solid #ccc;
	box-shadow: 2px 2px 2px #ccc;
}

.bigRect{
	padding-left:0px;
	padding-right:0px;
	position: relative;
	margin:0px;
	display:block;
	width:100%;
}

/*NavigationBar*/
.navbar.navbar-default.nav-custom{
	background-color: #656464;
	border-radius: 0px;
	border:none;
	height: 80px;
	overflow: hidden;
	z-index: 1000;
	margin-bottom: 0px;
}

.navbar.navbar-default.nav-custom .container-fluid{
	height: 100%;
}

.navbar.navbar-default.nav-custom .container-fluid .navbar-header{
	height: 100%;
}

.navbar.navbar-default.nav-custom .container-fluid .collapse.navbar-collapse{
	height: 100%;
}

.navbar.navbar-default.nav-custom .navbar-nav.left>li.active{
	border-top:5px solid #de2e39;
	padding-top: 10px;
}

.navbar.navbar-default.nav-custom .navbar-nav.left>li>a{
	background-color: transparent;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

}

.navbar.navbar-default.nav-custom .navbar-nav.left a:hover{
	
}



.navbar.navbar-default.nav-custom a{
	color:#ffffff;
	font-size: 25px;

}

.navbar.navbar-default.nav-custom .navbar-nav.left li{
	margin-left: 0px;
	margin-right: 0px;
	padding: 15px;
}

.navbar.navbar-default.nav-custom .nav.navbar-nav.navbar-right{
	margin-top: 10px;
}


.navbar.navbar-default.nav-custom .navbar-nav .searchConLi{
	position: absolute;
	right:64px;
}

.navbar.navbar-default.nav-custom .navbar-nav .searchLi{
	position: absolute;
	right:85px;
	z-index: 1;
	width: 48px;
	height:48px;
}

.navbar.navbar-default.nav-custom .navbar-nav .headPicLi{
	position: absolute;
	right:25px;
	z-index: 1;
	width: 48px;
	height:48px;
	margin-top: -10px;
}



.navbar.navbar-default.nav-custom .navbar-nav .headPic img{
	width: 48px;
}

.navbar.navbar-default.nav-custom .search{
	font-size: 32px;
	margin-top: 10%;
	border-radius: 50%;
	background-color: #ffffff;
	color:#656464;
	width: 100%;
	height: 100%;
	text-align: center;
}

.nav.navbar-nav.navbar-right.settings{
	margin-top: 4%;
	margin-left: -25px;
	padding-left: 15px;
	padding-top: 3px;
	opacity:0;
	display: none;
	min-width: 260;
	height: 35px;
	z-index: -1;
	overflow: hidden;
	background-color: #edeff0;
	border-top-right-radius: 20px;
	border-bottom-right-radius:20px;
}

.nav.navbar-nav.navbar-right.settings a{
	font-size: 15px;
	padding:5px;
	color:#656464;
}

.navbarMin{
	padding-left: 0;
	border-bottom: 4px solid #656464;


}

.navbarMin ul{
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.navbarMin ul > li{
	float:left;
	padding: 1% 2% 1% 2%;
}

.navbarMin ul > li > a{
	color:inherit;
}


#searchCon{
	font-size: 20px;
	background-color: #edeff0;
	border:none;
	color:#a1a0a0;
	margin-top: 5%;
	margin-right: -10px;
	width: 200px;
	opacity: 0;
	display: none;
	height: 35px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	padding-left: 10px;

}

#siteLogo a{
	padding:0;
}

#siteLogo img{
	height: 60px;
}

/*Footer*/
.footer{
	background: #656464;
	width:100%;
	color:#c9c2b2;
	padding:5%;
	text-align: center;
	z-index: 1000;
	position: relative;
}

#footer{
	padding:2% 0 2% 0;
}


#footer p{
	color:#555f65;
	font-size:1rem;
	text-align:center;
	font-weight:bold;
}


/*BaselineBar*/
#aboutRect{
	background-color:#1e252d;
	padding:2% 0 2% 0;
}
#aboutRect p{
	color:#c9c2b2;
	margin:2% 0 2% 0;
	text-align:center;
}

#aboutRect .title{
	font-size:2rem;
	font-weight:bold;
	margin:10% 0 10% 0;
}
#aboutRect .content{
	font-size:1.5rem;
	margin:2% 0 2% 0;
}


@media  screen and (max-width: 1366px) {
	body{
		font-size: 10px;
	}
}