<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		{% include "VideoWebBundle:Layout:stylesheets.html.twig" %}
		{% include "VideoWebBundle:Layout:scripts.html.twig" %}
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>
		{% block content %}		    
		{% endblock %}
	</body>
	{% block scripts %}
	{% endblock %}