<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		{% include "VideoWebBundle:Layout:stylesheets.html.twig" %}
		{% include "VideoWebBundle:Layout:scripts.html.twig" %}
		{% block stylesheets %}
		{% endblock %}
	</head>
	<body>
		{% if no_top is defined %}
		{% else %}
		{% include "VideoWebBundle:Layout:top.html.twig" %}
		{% endif %}
		{% if no_filebar is defined %}
		{% else %}
		{{render(controller('VideoWebBundle:File:upload'))}}
		{% endif %}
		{% block content %}		    
		{% endblock %}
	</body>
	{% block scripts %}
	{% endblock %}
</html>