<nav class="navbar navbar-default custom" role="navigation" style="background-image:url(/bundles/videoweb/img/default/navi_bg.png);border:none;border-bottom: 4px #92a4a4 dashed;">
<div class="container-fluid">
	<div class="navbar-header" style="margin-left:5%">
		<img src="/bundles/videoweb/img/default/navi_logo.png">
	</div>
	<div class="collapse navbar-collapse" style="margin-right:5%">
		<ul id="formul" class="nav navbar-nav navbar-right" style="padding-top:40px;">
			{% if user is not defined%}
			<li id="toReg"><a href="/register" style="color:#ffffff;font-size: 22px;font-weight: 700;">注册</a></li>
			<li id="toLogin1"><a href="/login" style="color:#ffffff;font-size: 22px;font-weight: 700;">登录</a></li>
			{%  else %}
			<li ><a href="/user/{{user.id}}" style="color:#ffffff;font-size: 22px;font-weight: 700;">我的主页</a></li>
			<li ><a href="/logout" style="color:#ffffff;font-size: 22px;font-weight: 700;">登出</a></li>
			{% endif %}
		</ul>
	</div>
</div>
</nav>