<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="{{path('create_access_token')}}" method="post">
	<input id="limit_time" name="limit_time" type="text" value="2018-12-06-09 00:00:00">
	<input type="submit" value="提交">
</form>
</body>
</html>