{% extends "VideoWebBundle:Layout:layout.html.twig" %}

{% block title %}VideoWebBundle:Play:index{% endblock %}

{% block  content%}
{% if videos | length>0 %}
{% for video in videos %}
    {{video.videoName}}
    {{video.videoUrl}}
    {{video.videoUptime| date("Y-m-d H:i")}}
    <a href="{{path('choice',{'video_id':video.id})}}">添加到canvas</a>
    <br>
{% endfor %}
{% else %}
暂无视频上传
{% endif %}
{% endblock %}
